html,
body {
    overflow-x: hidden;
}

/* X-Small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
    #hero h3 {
        font-size: 20px;
    }

    .ml5 {
        font-size: 10vw;
        margin: 100px 0;
    }

    .ml5 .line {
        display: none;
    }

    .ml12 {
        font-size: 21px;
    }

    .nav-ul {
        flex-direction: column;
        align-items: center;
    }

    #about-me {
        background-color: #1F1F1F;
    

    }

    .heading {
        text-align: center;
        font-size: 4em;
    }

    .about-me-right h3 {
        font-size: 35px;
    }

    footer {

        font-size: 18px;
      
    }

    #footer img {
        width: 50%;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .ml5 {
        font-size: 7vw;
        margin: 100px 0;
    }

    .nav-ul {
        flex-direction: column;
        align-items: center;
    }

    #about-me {
        background-color: #1F1F1F;
       

    }

    .heading {
        text-align: center;
        font-size: 4em;
    }

    .about-me-right h3 {
        font-size: 35px;
    }

    footer {

        font-size: 18px;
        

    }

    #contact {
        height: 130vh;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .ml5 {
        font-size: 7vw;
        margin: 100px 0;
    }

    .heading {
        text-align: center;
        font-size: 4em;
    }

    #about-me {
        background-color: #1F1F1F;


    }

    footer {

        font-size: 18px;
        display: block;
      
        

    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    #header,
    #about-me,
    #skill,
    #git-profile,
    #projects,
    #contact {
        
        transition: all 0.3s ease-in;
    }


    .container_wrapper {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-padding: 25px;
    }

   

}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    #header,
    #about-me,
    #skill,
    #git-profile,
    #projects,
    #contact {
        
        transition: all 0.3s ease-in;
    }

    #projects {
        
        background-color: #2B2A6F;
    }

    

    .container_wrapper {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-padding: 25px;
    }

    

}

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */
@media (min-width: 1400px) and (max-width: 1599.98px) {

    #header,
    #about-me,
    #skill,
    #git-profile,
    #projects,
    #contact {
      
        transition: all 0.3s ease-in;
    }




    .container_wrapper {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-padding: 25px;
    }

    #projects {
        
        background-color: #2B2A6F;
    }

  
    #contact {
        height: 150vh;
    }
}

@media (min-width: 1600px) {

    #header,
    #about-me,
    #skill,
    #git-profile,
    #projects,
    #contact {
       
        transition: all 0.3s ease-in;
    }

    #projects {
       
    }

    

    .container_wrapper {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-padding: 25px;
    }

    #projects {
       
        background-color: #2B2A6F;
    }


}